html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
	--primary-color: 28, 45, 151;
	--secondary-color: #000;
	--tertiary-color: #000;
	--primary-button-color: 28, 45, 151;
	--text-purple: rgb(112, 73, 197);
	--text-purple-dark: rgb(83, 58, 112);
	--text-black: rgb(10, 16, 30);
	--text-light: rgb(242, 244, 247);
	/* --media-sm:640px;
	--media-md:768px;
	--media-lg:1024px;
	--media-xlg:1280px;
	--media-xxlg:1536px; */
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.preventDefault{

}
.text-white{
  color: var(--text-light);
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
